{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <h1 class="mt-5 text-center">Connexion</h1>
                    <form method="post" class="">
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success text-center">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.username }}, <a href="{{ path('app.logout') }}">Logout</a>
                            </div>
                        {% else %}

                            <div class="form-group text-center">
                                <img class="mb-4" src="{{ asset('uploads/snow_icon.png') }}" alt="" width="72" height="72">
                            </div>

                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name='email' id="email" value='{{ last_username }}' class="form-control" placeholder="Email address" required="" autofocus="">
                            </div>

                            <div class="form-group">
                                <label for="password">Mot de passe</label>
                                <input type="password" id="password" name='password' class="form-control" placeholder="Password" required="">
                            </div>

                            <div class='d-flex justify-content-between'>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="_remember_me"> Remember me
                                        </label>
                                    </div>   
                                </div>   

                                <a href="#">Mot de passe oublié ?</a>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

                            <div class='mt-5 mb-3 text-muted text-center'>
                                Pas encore de compte ? <a href="{{ path('app.register') }}">Créer un compte</a>
                            </div>

                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </body>
{% endblock %}

{#{% block footer %}
    <footer class="footer-absolute footer">
        <div class="container ">
            <div class="card p-4 radius-3 bg-dark text-white pr-5 pl-5 text-center">
                <span>Designed by Fexus.</span>
            </div>
        </div>
    </footer>

{% endblock %} #}



