{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h1 class="mt-5 text-center">Register</h1>
                {{ form_start(registrationForm) }}
                    <div class="row">
                        <div class="col-md-6 w-100">
                            {{ form_row(registrationForm.first_name) }}
                        </div>    
                        <div class="col-md-6  w-100">
                            {{ form_row(registrationForm.last_name) }}
                        </div>
                    </div>

                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms, {
                        label: "J'accepte les termes"
                    }) }}

                    <button type="submit" formnovalidate class="btn btn-lg btn-primary btn-block">Register</button>

                    <div class='mt-5 mb-3 text-muted text-center'>
                        Déjà un compte ? <a href="{{ path('app.login') }}">Se connecter</a>
                    </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
