{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <script src="{{ asset('js/index.js') }}"></script>
{% endblock %}
{% block body %}
    <div>
        {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">
            {{ message }}
        </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger text-center">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('info') %}
            <div class="alert alert-info text-center">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <div class="w-100 h-100">
        <div class="home-bg">
            <div class="container">
                
                <div class="pb-4 centered">
                    <h1>SnowTricks</h1>
                </div>
            </div>
            <div class="bottom-right">
                <a href="#liste_figure" class="a">
                    <i class="fa fa-large fa-arrow-down fa-2" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="text-right" id='element'>
        <a href="#liste_figure" class="a"  id="navigation">
            <i class="fa fa-large fa-arrow-up fa-2" aria-hidden="true"></i>
        </a>
    </div>
    <div class="container p-5" id="liste_figure">
        <div class="row">
            {% if figures is not empty %}
                {% for figure in figures %}
                    <div class="col-xl-4 mb-sm-5 ">
                            <div class="card">
                                <a href="{{ path('figure.show', {'id': figure.id}) }}">
                                    <img class='card-img-top rounded-app image-height'
                                    {% if figure.images.0.image is defined %}
                                         src='{{ asset('uploads') }}/{{ figure.images.0.image }}'
                                    {% else %}
                                        src='{{ asset('uploads') }}/default.jpg'
                                    {% endif %}
                                    >
                                </a>
                                <div class="card-body">
                                    <div class='d-flex'>

                                        <a href="{{ path('figure.show', {'id': figure.id}) }}" class="btn btn-outline-success btn-sm btn-trick mr-2">
                                            {{ figure.figure }}
                                        </a>
                                        {% if app.user %}
                                            <div>
                                            <a href="{{ path('figure.edit', {'id': figure.id}) }}" class="btn btn-outline-info btn-sm btn-trick mr-2">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            </div>

                                            <form action="{{ path('figure.delete', {'id': figure.id}) }}" method='POST' onsubmit="return confirm('Supprimer la figures ?')">
                                                <input type="hidden" name="_method" value="delete">
                                                <button class="btn btn-outline-danger btn-sm btn-trick">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>

                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ figure.id) }}">
                                            </form>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                    </div>

                {%  endfor %}

                    
            {% else %}
                <div class="col-md-12 mb-6">
                    <div class="text-center">
                        Pas d'articles pour le moment !
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

        

    <script type="text/javascript">
       
    </script>
{% endblock %}