{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <script src="{{ asset('js/index.js') }}"></script>
{% endblock %}
{% block body %}
    <div>
       {{ parent() }}
    </div>
    <div class="w-100 h-100">
        <div class="home-bg">
            <div class="container">
                
                <div class="pb-4 centered">
                    <h1>SnowTricks</h1>
                </div>
            </div>
            <div class="bottom-right">
                <a href="#liste_figure" class="a">
                    <i class="fa fa-large fa-arrow-down fa-2" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="text-right" id='element'>
        <a href="#liste_figure" class="a"  id="navigation">
            <i class="fa fa-large fa-arrow-up fa-2" aria-hidden="true"></i>
        </a>
    </div>
    <div class="container p-5" id="liste_figure">
        <div class="row">
            {% if figures is not empty %}
                {%  set hide = '' %}
                {% for figure in figures %}
                    {% set counter = ( counter | default(0) ) + 1 %}
                    {% if counter > 15 %}
                        {% set hide = " hide " %}
                    {% endif %}
                    <div class="col-xl-3 mb-sm-5 {{ hide }}">
                            <div class="card">
                                <a href="{{ path('figure.show', {'id': figure.id}) }}">
                                    <img class='card-img-top image-height'
                                    {% if figure.FeaturedImage == 0 %}
                                        {% if figure.images is not empty %}
                                            src='{{ asset('uploads')  ~ "/" ~ figure.images.0.image }}'
                                        {% else %}
                                            src='{{ asset('uploads')  ~ "/default.jpg" }}'
                                        {% endif %}
                                    {% else %}
                                        {% for image in figure.images %}
                                            {% if image.id == figure.FeaturedImage %}
                                                src='{{ asset('uploads')  ~ "/" ~ image.image }}'
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    >
                                </a>
                                <div class="card-body">
                                    <div class='d-flex'>

                                        <a href="{{ path('figure.show', {'id': figure.id}) }}" class="btn btn-outline-success btn-sm btn-trick mr-2">
                                            {{ figure.figure }}
                                        </a>
                                        {% if app.user %}
                                            <div>
                                            <a href="{{ path('figure.edit', {'id': figure.id}) }}" class="btn btn-outline-info btn-sm btn-trick mr-2">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            </div>

                                            <form action="{{ path('figure.delete', {'id': figure.id}) }}" method='POST' onsubmit="return confirm('Supprimer la figures ?')">
                                                <input type="hidden" name="_method" value="delete">
                                                <button class="btn btn-outline-danger btn-sm btn-trick">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>

                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ figure.id) }}">
                                            </form>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                    </div>
                {%  endfor %}
            {% else %}
                <div class="col-md-12 mb-6">
                    <div class="text-center">
                        Pas d'articles pour le moment !
                    </div>
                </div>
            {% endif %}
        </div>
        {% if figures|length > 15 %}
            <div class='text-center'>   
                <a href='#' id='loadMore'>
                    <i class="fa fa-plus-circle fa-3" aria-hidden="true"></i>
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}