{% extends 'base.html.twig' %}
{% block body %}
    <div>
        {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">
            {{ message }}
        </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger text-center">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('info') %}
            <div class="alert alert-info text-center">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <div class="w-100 h-100  mb-5">
        <div class="home-bg">
            <div class="container">
                
                <div class="pb-4 centered">
                    <h1>SnowTricks</h1>
                </div>
            </div>
            <div class="bottom-right">
                <a href="#liste_figure" class="a">
                    <i class="fa fa-large fa-arrow-down fa-2" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="container" id="liste_figure">
        <div class="row">
            {% if figures is not empty %}
                {% for figure in figures %}
                    <div class="col-md-4 mb-sm-5 ">
                        <div class="container pt-2">
                            <div class="card card-list rounded-app">
                                <a href="{{ path('figure.show', {'id': figure.id}) }}">
                                    <img class='w-100 rounded-app image-height'
                                    {% if figure.images.0.image is defined %}
                                         src='{{ asset('uploads') }}/{{ figure.images.0.image }}'
                                    {% else %}
                                        src='{{ asset('uploads') }}/default.jpg'
                                    {% endif %}
                                    >
                                </a>
                                <div class="card-body">
                                    <div class="container">
                                        <div class="row text-center">
                                            <div class="col-xs-4 m-1">
                                                <a href="{{ path('figure.show', {'id': figure.id}) }}" class="btn btn-outline-success btn-sm btn-trick">
                                                    {{ figure.figure }}
                                                </a>
                                            </div>
                                            <div class="col-xs-4 m-1">
                                                <a href="{{ path('figure.edit', {'id': figure.id}) }}" class="btn btn-outline-info btn-sm btn-trick">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </div>

                                            <div class="col-xs-4 m-1">
                                                <form action="{{ path('figure.delete', {'id': figure.id}) }}" method='POST' onsubmit="return confirm('Supprimer la figures ?')">
                                                    <input type="hidden" name="_method" value="delete">
                                                    <button class="btn btn-outline-danger btn-sm btn-trick">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </button>

                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ figure.id) }}">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {%  endfor %}
            {% else %}
                <div class="col-md-12 mb-6">
                    <div class="text-center">
                        Pas d'articles pour le moment !
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}