{% extends 'base.html.twig' %}
{% block body %}
    <div class="w-100 h-100  mb-5">
        <div class="home-bg">
            <div class="container">
                <div class="pb-4 centered">
                    <h1>SnowTricks</h1>
                </div>
            </div>
            <div class="bottom-right">
                <a href="#liste_figure" class="a">
                    <i class="fa fa-arrow-down fa-2" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="container" id="liste_figure">
        <div class="row">
            {% if tab_query is not empty %}
                {% for tab_row in tab_query %}
                    <div class="col-md-4 mb-sm-5 ">
                        <div class="container pt-2">
                            <div class="card card-list">
                                <a href="{{ path('figure.show', {'id': tab_row.figure.id}) }}">
                                    {% if tab_row.image.image is defined %}
                                        <img class='w-100' src='{{ asset('uploads') }}/{{ tab_row.image.image }}'>
                                    {% else %}
                                        <img class='w-100' src='{{ asset('uploads') }}/default.jpg'>
                                    {% endif %}
                                </a>
                                <div class="card-body">
                                    <a href="{{ path('figure.show', {'id': tab_row.figure.id}) }}" class="btn btn-outline-success btn-sm btn-trick">
                                        {{ tab_row.figure.figure }}
                                    </a>
                                    <a href="{{ path('figure.edit', {'id': tab_row.figure.id}) }}" class="btn btn-outline-success btn-sm btn-trick">
                                        Editer
                                    </a>
                                    <form action="{{ path('figure.delete', {'id': tab_row.figure.id}) }}">
                                        <input type="hidden" name="_method" value="delete">
                                        <button class="btn btn-outline-danger btn-sm btn-trick">
                                            Supprimer
                                        </button>
                                    </form>
                                    <a href="{{ path('figure.edit', {'id': tab_row.figure.id}) }}" class="btn btn-outline-danger btn-sm btn-trick">
                                        Supprimer
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {%  endfor %}
            {% else %}
                <div class="col-md-12 mb-6">
                    <div class="text-center">
                        Pas d'articles pour le moment !
                    </div>
                </div>
            {% endif %}
            <div class="card">
                <i class="fa fa-arrow-top"></i>
            </div>
        </div>
    </div>
{% endblock %}