{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt-4">  
        <div class="row justify-content-center">          
            <div class="col-md-10 col-md-offset-1 mb-4"> 
                <div class="card">
                    <img class="card-img-top" 
                    {% if tab_query.image.0.image is defined %}
                        src="{{ asset('uploads') }}/{{ tab_query.image.0.image }}"
                    {% else %}
                        src="{{ asset('uploads') }}/default.jpg"
                    {% endif %}

                    >
                    <div class="card-body">
                        <ul class="list-inline trick-data">
                            <li class="list-inline-item">
                                Par : {# {{ tab_query.figure.user }} #}
                            </li> |           
                            <li class="list-inline-item">
                                Ajouté le {#{{ tab_query.figure.time_insert }} #}(<small>Mise à jour le : {# {{ tab_query.figure.time_update }} #}</small>)
                            </li> |                            
                            <li class="list-inline-item">
                                Catégorie : {{ tab_query.figure.GroupeText }}
                            </li> |
                        </ul>
                        <hr>
                        <h4 class="card-title"><strong> {{ tab_query.figure.figure }}</strong></h4>
                        <hr>
                        <!-- Start Carousel -->
                            <div class="row">
                                {% if tab_query.image is not empty %}
                                    <div class="col-md-6">
                                        <div style="border-top-left-radius: 0.625rem;border-top-right-radius: 0.625rem;" class='h-100'>
                                            <div id="carouselExampleControls1" class="carousel slide h-100" >
                                                <div class="carousel-inner h-100">
                                                    {% for image in tab_query.image %}
                                                        <div class="carousel-item h-100 {% if flag_image is not defined %}active{% endif %}">
                                                            <embed class='d-block w-100 image-height' style="border-radius: 0.625rem;border:solid 1px;" src="{{ asset('uploads') }}/{{ image.image }}" frameborder="0" allow="autoplay; encrypted-media"  allowfullscreen />
                                                        </div>
                                                        {% set flag_image = true %}
                                                    {% endfor %}
                                                </div>
                                                <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                      {#  {% if tab_query.image is not empty %}
                                            <div class="col-md-6">
                                                {% for image in tab_query.image %}
                                                    {% if flag_first is not defined %}
                                                        <div class="container">
                                                            <div class="col-md-12 pb-4">
                                                                <img class='w-100' src='{{ asset('uploads') }}/{{ image.image }}'>
                                                            </div>
                                                        </div>
                                                        {% set flag_first = true %}
                                                    {% else %}
                                                        <div class="col-md-4">
                                                            <img class='w-100' src='{{ asset('uploads') }}/{{ image.image }}'>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        {% endif %} #}
                                {% if tab_query.image is empty %}
                                    <div class="col-md-12">
                                {% else %}
                                    <div class="col-md-6">
                                {% endif %}

                                {% if tab_query.video is not empty and tab_query.video|length > 1 %}
                                    <div style="border-top-left-radius: 0.625rem;border-top-right-radius: 0.625rem;" class='h-100'>
                                        <div id="carouselExampleControls" class="carousel slide h-100" >
                                            <div class="carousel-inner h-100">
                                                {% for video in tab_query.video %}
                                                    <div class="carousel-item h-100 {% if flag_video is not defined %}active{% endif %}">
                                                        <embed class='d-block w-100 h-100' style="border-radius: 0.625rem;border:solid 1px;" src="{{ video.video }}" frameborder="0" allow="autoplay; encrypted-media"  allowfullscreen />
                                                    </div>
                                                    {% set flag_video = true %}
                                                {% endfor %}
                                            </div>
                                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    </div>
                                {% else %}
                                    {% if tab_query.video is not empty %}
                                        <embed class='d-block w-100 h-100' style="border-radius: 0.625rem;border:solid 1px;" src="{{ tab_query.video.0.video }}" frameborder="0" allow="autoplay; encrypted-media"  allowfullscreen />
                                    {% endif %}
                                {% endif %}
                                </div>
                            </div>
                        <!-- End Carousel -->
                        <hr>
                        <h5 class="card-title">Description</h5>
                        <p class="card-text text-justify">{{ tab_query.figure.description }}</p>                                    
                    </div>
                </div>
                <!--  End Trick -->
            </div>     
        </div>           
    </div>
{% endblock %}
