{% extends 'base.html.twig' %}
{% block body %}
    {% for tab_row in tab_query %}
        <div class="container w-75">
            <div class="card mt-4">
                <div class="row">
                    {% if tab_row.image is not empty %}
                        <div class="col-md-6">
                    {% for image in tab_row.image %}
                        {% if flag_first is not defined %}
                            <div class="container">
                                <div class="col-md-12 pb-4">
                                    <h1 class="top-center"> {{ tab_row.figure.figure }} </h1>
                                    <img class='w-100' src='{{ asset('uploads') }}/{{ image.image }}'>
                                </div>
                            </div>
                            {% set flag_first = true %}

                        {% else %}
                            <div class="col-md-4">
                                <img class='w-100' src='{{ asset('uploads') }}/{{ image.image }}'>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                    {% endif %}
                    <div class="col-md-6">
                    {% if tab_row.video is not empty and tab_row.video|length > 1 %}
                            <div style="border-top-left-radius: 0.625rem;border-top-right-radius: 0.625rem;">
                                <div id="carouselExampleControls" class="carousel slide" >
                                <div class="carousel-inner">
                                    {% for video in tab_row.video %}
                                        <div class="carousel-item {% if flag_video is not defined %}active{% endif %}">
                                            <embed class='d-block w-100 h-100' style="border-radius: 0.625rem;border:solid 1px;" src="{{ video.video }}" frameborder="0" allow="autoplay; encrypted-media"  allowfullscreen />
                                        </div>
                                        {% set flag_video = true %}
                                    {% endfor %}
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                                </div>
                            </div>
                    {% else %}
                    <embed class='d-block w-100 h-100' style="border-radius: 0.625rem;border:solid 1px;" src="{{ tab_row.video.0.video }}" frameborder="0" allow="autoplay; encrypted-media"  allowfullscreen />
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {%  endfor %}
{% endblock %}